:root {
--color-1: #151713;
--color-2: #90a0b1;
--color-3: #6f8091;
--color-4: #53616e;
--color-5: #30393e;
--color-6: #3f4a56;
--color-7: #292b34;
--color-8: #848c8c;
--color-9: #503a35;
--color-10: #848484;
}